/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

@import "./style.scss";

.breadrumb-setings {
  > * {
    margin-bottom: 16px;
  }

  .toggle-group-control {
    .components-button {
      display: inline-flex;
      justify-content: center;
      min-width: 24px;
    }

    &__label {
      margin-bottom: 0;

      .components-base-control__field {
        margin-bottom: 0;
      }
    }
  }
}
