/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-boldblocks-breadcrumb-block {
  ol {
    display: flex;
    flex-wrap: wrap;
    gap: var(--bb--crumb-gap, .4em);
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      display: flex;
      align-items: center;

      .sep  {
        display: flex;
        margin-right: var(--bb--crumb-gap, .4em);
        line-height: 1;
      }
    }
  }
}
